<!DOCTYPE html>
<html>
<%- include('../partials/head')  %> 
<body id="bodyLogin">
    <%- include('../partials/header')%>

        <div class="wrapper">
            <div class="title">
                Inicio de sesión 
            </div>

            <form name= "loginForm" id="loginForm" action="/user/loading" method="post" class="form">

                <div class="inputfield">
                    <p> Usuario </p>
                <input type="text" class="input" name="user" required>
                    <p id="errUser"></p>
                <% if(locals && locals.errores && locals.errors.user){ %>
                    <p> <%= errors.user.msg %> </p>
                <% } %>
                </div>


                <div class="inputfield">
                    <p> Contraseña </p>
                    <input type="password" class="input" name="pasword" required>
                    <p id="errPassword"></p>
                </div>
                    

                <div>      
                <% if(locals && locals.errors && locals.errors.password){  %>
                    <p> <%= errors.password.msg %> </p>
                <% } %> 
                </div> 

                <div class="inputfield">
                    <button type="submit">Inicia Sesión</button>
                </div>

            </form>
        </div>
                    <%- include('../partials/footer')%>
    </body>
</html>