<!DOCTYPE html>
<html >
    <%- include('../partials/head')  %> 
<body id="AltaProducto">
    <%- include('../partials/header')%>
    <form method="post" action="/producto/Create" enctype="multipart/form-data">
        <label for="">Nombre del Producto</label>
        <input type="text" name="nombre" value="<% if (typeof errors !== "undefined") { %><%= old.nombre %><%} %>">
        <% if (typeof errors !== "undefined" && typeof errors.nombre !== "undefined") { %>
            <p><%= errors.nombre.msg %></p>
         <% } %>
        <label for="">Descripcion</label>
        <input type="text" name="descripcion" value="<% if (typeof errors !== "undefined") { %><%= old.descripcion %><%} %>">
        <% if (typeof errors !== "undefined" && typeof errors.descripcion !== "undefined") { %>
            <p><%= errors.descripcion.msg %></p>
         <% } %>>
        <label for="">Precio Unitario</label>
        <input type="text" name="precio">
        <label for="">Talle</label>
        <select name="talle">
                <option selected value="Sin Elegir"> Elige una opción </option>
                    <option value="S">S</option> 
                    <option value="L">L</option> 
                    <option value="M">M</option> 
                    <option value="XL">XL</option> 
                    <option value="XXL">XXL</option> 
                    <option value="XXXL">XXXL</option> 
         </select>
         <label for="">Stock inicial</label>
         <input type="text" name="unidades">
        <label for="">Selecionar Imagen</label> <!--No se validar la imagen xd-->
        <input type="file" class= "imagenProducto" name="imagenProducto">
        <button type="submit">Agregar Producto</button>
    
    </form>
    
    <%- include('../partials/footer')%>
</body>
</html>